build/
ide/SES/Output/
CMSIS/
*.svd
jflash.log
Makefile.bak
project.jdebug.user
ide/EWARM/startup_stm32f401xc.s
ide/MDK-ARM/startup_stm32f401xc.s
ide/SES/*.s
ide/SES/*.emSession
ide/SES/*.jlink
ide/EWARM/*.dep
ide/EWARM/*.ewt
ide/EWARM/settings/
ide/EWARM/STM32F401CC/
ide/EWARM/STM32F401CCU6 Blink Bare Metal/
ide/MDK-ARM/*.uvoptx
ide/MDK-ARM/Objects/
ide/MDK-ARM/Listings/
ide/MDK-ARM/RTE/
ide/MDK-ARM/DebugConfig/
ide/MDK-ARM/build.log
ide/MDK-ARM/build_log*.txt
